.form-container{
    position: relative;
    top: 53px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black;
    width: 410px;
}

.bg{
    background: #63738a;
    background: url("../images/communication.jpg") no-repeat;
    width: 100%;
    background-size: 100%;
}